@media all and (min-width:1200px){
  #app{
    max-width: 1000px;
    margin: 0 auto;
  }
}
@media all and (min-width: 960px) and (max-width: 1199px) {
  #app{
    max-width: 900px;
    margin: 0 auto;
  }
}

@media all and (max-width: 599px) {
  img{
    width:100%;
    height:200px;
    object-fit: cover;
  }
}

@media all and (min-width: 600px) {
  section {
    clear: both;
    display: block;
  }
  #event-details-container{
    clear: none;
    font-family: Verdana;
  }
  img{
    width:60%;
    height:300px;
    float: left;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
 }
 
}

hr {
  clear: both;
  margin-bottom: 20px;
  margin-top: 20px;
}

section {
  margin: 20px;
}

.material-icons {
  padding-right: 10px;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 35px;
}

h2 {
  margin-bottom: 0px;
}

label{
  font-size: 18px;
}

p {
  font-size: 18px;
  margin-top:10px;
  margin-bottom:0px;
}

#guestbook > p {
  font-weight: lighter;
  font-size: 14px;
}

input{
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.12);
  font-size: 14px;
  padding: 4px 0;
  background: 0 0;
  text-align: left;
  color: inherit;
}

button.clicked{
  background-color: rgb(60, 67, 154);
  border-color: rgb(60, 67, 154);
  color: white;
  outline-color: rgb(60, 67, 154);
}

button, button.firebaseui-id-submit.mdl-button--raised.mdl-button--colored{
align-items: center;
background-color: rgba(0, 0, 0, 0);
border-color: rgb(60, 67, 154);
border-radius: 4px;
border-style: solid;
border-width: 1px;
box-shadow: none;
color: rgb(51, 67, 160);
cursor: default;
display: inline-flex;
font-family: Roboto, sans-serif;
font-size: 14px;
font-weight: bold;
height: 36px;
justify-content: center;
margin: 8px 16px;
outline-color: rgb(60, 67, 154);
overflow: hidden;
padding: 0px 15px;
position: relative;
text-align: center;
text-transform: uppercase;
vertical-align: middle;
}

nav lo {

    display: flex;
    text-decoration: none;
    justify-content: space-between;
    text-size-adjust: fill;

}
.container-2 p{
  margin: 2px;
  font-size: 15px;
  padding-top: 2rem; 
  padding-left: 2rem;
}
.footer p{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 1rem;
}
.team h4 {
  text-align: center;
}
.team .table{
  display: flex;
  justify-content: space-around;
}
.contact{
  padding: 1rem;

}
.contact h4{
  text-align: center;
}
.subscribe-container {
  max-width: 800px;
  margin: 60px auto;
  background-color: rgba(130, 184, 219, 0.5);
  border: 5px solid rgb(82, 132, 190);
}
.subscribe-container form {
  display: flex;
  flex-wrap: wrap;
}
.subscribe-container form input {
  margin: 15px;
  border: 1px solid rgb(114, 12, 145);
  padding: 0.4rem;
}
.subscribe-container form input {
  flex: 1 1 200px;
}

.subscribe-container form input[type="submit"] {
  border-radius: 3px;
  background-color: rgba(17, 228, 10, 0.5);
color: rgb(98, 143, 228);
text-align: center;
}

.subscribe-container form input[type="email"] {
  flex: 1 1 250px;
}
.wrapper .icon{
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}


/****/




/****/